
<div class="form-group">
  <button (click)="changeEmployeeName()"
    class="btn btn-primary">Change Employee Name</button>
</div>

<h1 #h1Variable></h1>
<div class="form-group">
<input type="text" [(ngModel)]="searchByName" class="form-control" placeholder="Search Term" />
  <!-- ​<input​ ​type​=​"text"​ ​class​=​"form-control"​ ​placeholder​=​"Search By Name" ​ [(​ngModel​)]=​"searchByName"​/>  -->
  <!-- <input type="text" placeholder="Enter names to search" [(ngModel)]="searchByName" /> -->
</div>
<div *ngFor="let employee of employees | searchByTerm:searchByName" (mousemove)="onMouseMove()">
  <div (click)="h1Variable.innerHTML = childComponent.getNameAndGender()">
    <app-display-employee [employee]="employee" #childComponent></app-display-employee>
  </div>
</div>

<!-- <div>
<app-display-employee [employee]="employeeToDisplay" [employeeId]="employeeToDisplay.id"
>
</app-display-employee>
<button class="btn btn-primary" (click)="nextEmployee()">View Next Employee</button>
</div> -->