<!--The content below is only a placeholder and can be replaced.-->
<!-- <div id="cssClassRevisit">
  <div class="OuterContainer">
    <div class="innerContrainer">
    
    </div>
  </div>
  <div class="absoluteContainer">
    <div class="absoluteInnerContrainer">
    
    </div>
  </div>
  <div class="absoluteContainer1">
    <div class="absoluteInnerContrainer1">
    
    </div>
  </div>
</div> -->

<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="list"> List</a>
      </li>
      <li>
        <a routerLink="create"> Create</a>
      </li>
      <li>
        <a [routerLink] = "['employee',2]">Link to Employee 2</a>
      </li>
    </ul>
  </nav>
<div class="spinner" *ngIf="showSpinner">
</div>
  <router-outlet></router-outlet>
</div>
